# spring 配置
spring:
  cloud:
    nacos:
      # 服务发现
      discovery:
        # 是否启用
        enabled: false
  # 应用程序配置
  application:
    # 应用程序名称
    name: yjstation-console
  # 程序进程
  pid:
    # 进程文件
    file: console.pid
  # 任务
  task:
    # 执行器
    execution:
      # 线程池
      pool:
        # 核心线程池大小
        core-size: 4
        # 最大线程池大小
        max-size: 20
    # 调度配置
    scheduling:
      # 线程池
      pool:
        # 线程池大小
        size: 4
  # security 权限配置
  security:
    # 安全策略设置
    strategy: MODE_INHERITABLETHREADLOCAL
  # web 配置
  web:
    # 资源
    resources:
      # 是否添加资源映射
      add-mappings: false
  # 控制器
  servlet:
    # 多媒体
    multipart:
      # 单个文件的最大大小
      max-file-size: 256MB
      # 请求的最大大小
      max-request-size: 1024MB
  # spring mvc 配置
  mvc:
    # 是否在没有找到处理器时抛出异常
    throw-exception-if-no-handler-found: true
    # 路径匹配
    pathmatch:
      # 匹配策略
      matching-strategy: ant_path_matcher
  # 数据源
  datasource:
    # Druid连接池配置
    type: com.alibaba.druid.pool.DruidDataSource
    # druid 数据源配置
    druid:
      # druid 状态视图 servlet 配置
      stat-view-servlet:
        # 是否启用 druid 状态视图
        enabled: true
        # URL 匹配模式
        url-pattern: /druid/*
        # 登录用户名
        login-username: julei
        # 登录密码
        login-password: juleiPassw0rd
      # 初始化
      initial-size: 5
      # 最小
      min-idle: 5
      # 最大连接
      max-active: 20
      # 最长等待
      max-wait: 5000
      # 周期性剔除长时间呆在池子里未被使用的空闲连接, 1 min 一次,单位毫秒
      time-between-eviction-runs-millis: 60000
      # 配置一个连接在池中最小生存的时间,单位是毫秒
      min-evictable-idle-time-millis: 300000
      # 设置连接在池中最大存活时长，超过上限才会被清理
      max-evictable-idle-time-millis: 600000
      # 验证连接是否可用，使用的SQL语句
      validation-query: SELECT 1 from dual
      # 连接是否被空闲连接回收器(如果有)进行检验.如果检测失败,则连接将被从池中去除.
      test-while-idle: true
      # 借出连接时不要测试，否则很影响性能
      test-on-borrow: false
      # 指明是否在归还到池中前进行检验
      test-on-return: false
      # 是否启用预编译语句池，提高性能
      pool-prepared-statements: true
      # 每个连接最大预编译语句数
      maxPool-prepared-statement-perConnectionSize: 20
      # 启用过滤器
      filters: stat,wall,slf4j
      # 连接属性
      connection-properties: druid.stat.mergeSql\=true;druid.stat.slowSqlMillis\=5000
      # web 统计过滤器
      web-stat-filter:
        # 是否启用
        enabled: true
        # 监控 URL
        url-pattern: /*
        # 排除特定文件类型和路径的监控
        exclusions: .js,*.gif,*.jpg,*.bmp,*.png,*.css,*.ico,/druid/*

# spring 服务器配置
server:
  # 服务器端口
  port: 8085
  # 控制器
  servlet:
    # 编码
    encoding:
      # 字符集
      charset: UTF-8
      # 是否强制使用该编码
      force: true
  # undertow 配置
  undertow:
    # 线程
    threads:
      # 设置IO线程数, 它主要执行非阻塞的任务,它们会负责多个连接, 默认设置每个CPU核心一个线程
      io: 16
      # 阻塞任务线程池, 当执行类似servlet请求阻塞操作, undertow会从这个线程池中取得线程,它的值设置取决于系统的负载
      worker: 400
    # 以下的配置会影响buffer,这些buffer会用于服务器连接的IO操作,有点类似netty的池化内存管理
    buffer-size: 1024
    # 是否分配的直接内存
    direct-buffers: true
  # spring 错误处理
  error:
    # 栈追踪的包含策略
    include-stacktrace: never
  # tomcat 配置
  tomcat:
    # 最大 HTTP 表单 POST 大小
    max-http-form-post-size: 100MB

# 日志记录配置
logging:
  # 级别
  level:
    # 根日志级别
    root: warn
    # 特定包的日志级别
    de:
      codecentric: warn
    # 特定包的日志级别
    com:
      pixelmed: warn
      baomidou:
        mybatisplus: warn
      jvlei: info

# spring 管理配置
management:
  # 追踪
  trace:
    # http 方式
    http:
      # 是否启用
      enabled: true
  # 端点
  endpoint:
    # 健康
    health:
      # 展示详细信息
      show-details: always
  # 端点
  endpoints:
    # 网站
    web:
      # 基本路径
      base-path: "/actuator-mgt"
      # 暴露设置
      exposure:
        # 包含内容
        include: "*"
      # 跨域配置
      cors:
        # 允许的请求头
        allowed-headers: "*"
        # 允许的请求方法
        allowed-methods: "*"
        # 允许的来源
        allowed-origins: "*"
